on: [push]
name: Secure_DevOps_Workflow

jobs:
    build-scan-deploy:
        runs-on: ubuntu-latest
        steps:
        # checkout the repo
        - name: 'Checkout GitHub Action'
          uses: actions/checkout@main
          
        - name: 'Build image'
          run: docker build . --file Dockerfile -t 845151661675.dkr.ecr.us-east-1.amazonaws.com/node-hello-world:${{ github.run_number }}

        - name: Scan image
          uses: sysdiglabs/scan-action@v3
          id: scan
          with:
            image-tag: "845151661675.dkr.ecr.us-east-1.amazonaws.com/node-hello-world:${{ github.run_number }}"
            sysdig-secure-token: ${{ secrets.SYSDIG_SECURE_TOKEN }}
            run-as-user: root
            input-type: docker-daemon 

        - uses: github/codeql-action/upload-sarif@v1
          if: ${{ always() }} 
          with:
            sarif_file: ${{ steps.scan.outputs.sarifReport }}


        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v1
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: us-east-1

        - name: Login to Amazon ECR
          id: login-ecr
          uses: aws-actions/amazon-ecr-login@v1

        - name: Push image to Amazon ECR
          env:
            ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
            ECR_REPOSITORY: node-hello-world 
            IMAGE_TAG: ${{ github.run_number }}
          run: |
            docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG


